#include <stdio.h>
#include <stdlib.h>
struct node {
	int x;
	struct node *next;
};

struct node *front=NULL;
struct node *rear=NULL;

int enqueue(int x) {
	if (front==NULL) {
		struct node *new=(struct node *)malloc(sizeof(struct node));
		new->x=x;
		new->next=NULL;
		front=new;
		rear=new;
	}
	else {
		struct node *new=(struct node *)malloc(sizeof(struct node));
		new->x=x;
		new->next=NULL;
		rear->next=new;
		rear=new;
	}
}

int dequeue() {
	struct node *temp=front;
	if (front==NULL) {
		printf("Kuyrukta eleman yok");
		return 1;
	}
	front=front->next;
	free(temp);
}

int display() {
	struct node *current=front;
	while (current!=NULL) {
		printf("%d ",current->x);
		current=current->next;
	}
	printf("\n");
}

int main () {
	enqueue(15);
	enqueue(16);
	enqueue(19);
	enqueue(20);
	display();
	dequeue();
	display();
	enqueue(21);
	enqueue(24);
	enqueue(18);
	display();
	dequeue();
	dequeue();
	display();
	return 1;
}

